*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*converted-to.pdf
*.backup
*.nav
*.bcf
*.run.xml
*tex*.new
*.fdb_latexmk
*.d
*.fls
.tmp.tex
*.bak*
*.docx
*.pdf
*.html
am205_hw*.pdf
*.zip
